<html>
<style>
  h1 {
    width:500px;
    margin: 0 auto;
    color:#008000;
    text-align:center;
    padding:12px 10px;
}
  button[type="submit"]{
    background-color:#065c38;
    border: none;
    color: rgb(1, 15, 6);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  button[type="submit"]:hover{
    background-color:#08d680;
  }
</style>
<h1>
  Sign up Successfully
</h1>

<form method="get" action="/logging">
  <button type="Submit" class="button">Go to Login Page</button>
</form>

</html>

