<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <div class="signup">
    <h1>
      Welcome to Signup Page
    </h1>
    <form action="/signup_data" method="post" autocomplete="off">

      <label for ="name">Name</label>
      <input type = "text" name = "name" placeholder="Enter your Name" required>

      <label for ="email">Email</label>
      <input type = "email" name = "email" placeholder="Enter your email id" required>

      <label for ="password">Password </label>
      <input type = "password" name = "password"  placeholder="Enter your password" required>

      <label for ="age">Age</label>
      <input type = "number" name = "age" placeholder="Enter your age" maxlength="3" required>

      <label for ="college">College</label>
      <input type = "text" name = "college" placeholder="Enter your College" required>

      <label for ="degree">Degree</label>
      <input type = "text" name = "degree" placeholder="Enter your Degree" required>

      <label for ="city">City</label>
      <input type = "text" name = "city" placeholder="Enter your city" required>

      <input type="submit" value="signup">

    </form>
  </div>
</body>
</html>